openapi: 3.2.0
info:
  title: ModMed Certified Document Reference API
  contact: {}
  version: 4.1-SNAPSHOT
  description: '**FHIR endpoints are customer-specific.** Each practice has its own Certified FHIR endpoint — browse the directory at https://mm-fhir-endpoint-display.prod.fhir.ema-api.com/. The server below (`https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4`) is a production **demonstration endpoint** for testing your integration; it behaves exactly like any practice''s endpoint. See the **Authentication** documentation for the OAuth 2.0 / SMART App Launch flow.'
servers:
- url: https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4
  description: EMA Certified FHIR API
  variables:
    firm:
      default: fhirmp
      description: Your firm subdomain (e.g. fhirmp, auraderm). Find yours at https://mm-fhir-endpoint-display.prod.fhir.ema-api.com/
security:
- smartOnFhir:
  - openid
  - fhirUser
  - profile
  - launch/patient
  - offline_access
  - patient/AllergyIntolerance.rs
  - patient/CarePlan.rs
  - patient/CareTeam.rs
  - patient/Condition.rs
  - patient/Coverage.rs
  - patient/Device.rs
  - patient/DiagnosticReport.rs
  - patient/DocumentReference.rs
  - patient/Encounter.rs
  - patient/Goal.rs
  - patient/Immunization.rs
  - patient/Location.rs
  - patient/Medication.rs
  - patient/MedicationRequest.rs
  - patient/Observation.rs
  - patient/Organization.rs
  - patient/Patient.rs
  - patient/Practitioner.rs
  - patient/PractitionerRole.rs
  - patient/Procedure.rs
  - patient/Provenance.rs
  - patient/RelatedPerson.rs
  - patient/ServiceRequest.rs
  - user/AllergyIntolerance.rs
  - user/CarePlan.rs
  - user/CareTeam.rs
  - user/Condition.rs
  - user/Coverage.rs
  - user/Device.rs
  - user/DiagnosticReport.rs
  - user/DocumentReference.rs
  - user/Encounter.rs
  - user/Goal.rs
  - user/Immunization.rs
  - user/Location.rs
  - user/Medication.rs
  - user/MedicationRequest.rs
  - user/Observation.rs
  - user/Organization.rs
  - user/Patient.rs
  - user/Practitioner.rs
  - user/PractitionerRole.rs
  - user/Procedure.rs
  - user/Provenance.rs
  - user/RelatedPerson.rs
  - user/ServiceRequest.rs
  - system/AllergyIntolerance.rs
  - system/CarePlan.rs
  - system/CareTeam.rs
  - system/Condition.rs
  - system/Coverage.rs
  - system/Device.rs
  - system/DiagnosticReport.rs
  - system/DocumentReference.rs
  - system/Encounter.rs
  - system/Goal.rs
  - system/Immunization.rs
  - system/Location.rs
  - system/Medication.rs
  - system/MedicationRequest.rs
  - system/Observation.rs
  - system/Organization.rs
  - system/Patient.rs
  - system/Practitioner.rs
  - system/PractitionerRole.rs
  - system/Procedure.rs
  - system/Provenance.rs
  - system/RelatedPerson.rs
  - system/ServiceRequest.rs
tags:
- name: DocumentReference
  description: 'The DocumentReference FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference'
paths:
  /DocumentReference/{id}:
    get:
      tags:
      - DocumentReference
      summary: 'read-instance: Read DocumentReference instance'
      parameters:
      - name: id
        in: path
        description: The resource ID
        required: true
        style: simple
        schema:
          minimum: 1
          type: string
        example: '123'
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              examples:
                clinical-summary-ccda:
                  summary: C-CDA 2.1 clinical summary — LOINC 11506-3 Progress note, application/xml, S3 pre-signed URL (20-min expiry)
                  value:
                    resourceType: DocumentReference
                    id: 1.120182.9.2.169746408
                    meta:
                      source: Organization/1.120182
                      profile:
                      - http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference
                    identifier:
                    - system: http://fhir.ema-api.com/ns/filename
                      value: EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_ClinicalSummary_CCD_Final.ccda.xml
                    status: current
                    type:
                      coding:
                      - system: http://loinc.org
                        code: 11506-3
                        display: Progress note
                    category:
                    - coding:
                      - system: http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category
                        code: clinical-note
                        display: Clinical Note
                    subject:
                      reference: Patient/1.120182.1.17082675
                      type: Patient
                    date: '2026-03-02T13:38:07.000+00:00'
                    author:
                    - reference: Practitioner/1.120182.2.17081470
                      type: Practitioner
                    custodian:
                      reference: Organization/1.120182
                      type: Organization
                    content:
                    - attachment:
                        contentType: application/xml
                        url: https://pod45-varema.s3.amazonaws.com/549/secure/users/g1708/17082675/notes/34749904/EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_ClinicalSummary_CCD_Final.ccda.xml
                      format:
                        system: http://ihe.net/fhir/ValueSet/IHE.FormatCode.codesystem
                        code: urn:hl7-org:sdwg:ccda-structuredBody:2.1
                        display: For documents following C-CDA 2.1 constraints using a structured body.
                    context:
                      encounter:
                      - reference: Encounter/1.120182.10.32975932
                        type: Encounter
                      period:
                        start: '2025-03-03T13:32:19+00:00'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
  /DocumentReference:
    get:
      tags:
      - DocumentReference
      summary: 'search-type: Search for DocumentReference instances'
      description: This is a search type
      parameters:
      - name: _id
        in: query
        description: The ID of the resource
        required: false
        schema:
          type: string
      - name: category
        in: query
        description: Categorization of document
        required: false
        schema:
          type: string
      - name: date
        in: query
        description: When this document reference was created
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: patient
        in: query
        description: Who/what is the subject of the document
        required: false
        schema:
          type: string
      - name: period
        in: query
        description: Time of service that is being documented
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: string
            format: date
      - name: status
        in: query
        description: current | superseded | entered-in-error
        required: false
        schema:
          type: string
      - name: type
        in: query
        description: Kind of document (LOINC if possible)
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/FHIR-JSON-RESOURCE'
              examples:
                documentreference-bundle:
                  summary: 'Patient documents — 3 of 40 shown: Visit PDF and C-CDA ClinicalSummary from encounter 1, Visit PDF from encounter 2; attachment.url values are AWS pre-signed S3 URLs'
                  value:
                    resourceType: Bundle
                    type: searchset
                    total: 40
                    link:
                    - relation: self
                      url: https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/DocumentReference?patient=1.120182.1.17082675
                    entry:
                    - fullUrl: https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/DocumentReference/1.120182.9.2.169746390
                      resource:
                        resourceType: DocumentReference
                        id: 1.120182.9.2.169746390
                        meta:
                          source: Organization/1.120182
                          profile:
                          - http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference
                        identifier:
                        - system: http://fhir.ema-api.com/ns/filename
                          value: EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_Visit_Final.pdf
                        status: current
                        type:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/v3-NullFlavor
                            code: UNK
                            display: unknown
                        category:
                        - coding:
                          - system: http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category
                            code: clinical-note
                            display: Clinical Note
                        subject:
                          reference: Patient/1.120182.1.17082675
                          type: Patient
                        date: '2026-03-02T13:38:07.000+00:00'
                        author:
                        - reference: Practitioner/1.120182.2.17081470
                          type: Practitioner
                        custodian:
                          reference: Organization/1.120182
                          type: Organization
                        content:
                        - attachment:
                            contentType: application/pdf
                            url: https://pod45-varema.s3.amazonaws.com/549/secure/users/g1708/17082675/notes/34749904/EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_Visit_Final.pdf
                          format:
                            system: http://ihe.net/fhir/ValueSet/IHE.FormatCode.codesystem
                            code: urn:ihe:iti:xds:2017:mimeTypeSufficient
                            display: mimeType Sufficient
                        context:
                          encounter:
                          - reference: Encounter/1.120182.10.32975932
                            type: Encounter
                          period:
                            start: '2025-03-03T13:32:19+00:00'
                    - fullUrl: https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/DocumentReference/1.120182.9.2.169746408
                      resource:
                        resourceType: DocumentReference
                        id: 1.120182.9.2.169746408
                        meta:
                          source: Organization/1.120182
                          profile:
                          - http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference
                        identifier:
                        - system: http://fhir.ema-api.com/ns/filename
                          value: EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_ClinicalSummary_CCD_Final.ccda.xml
                        status: current
                        type:
                          coding:
                          - system: http://loinc.org
                            code: 11506-3
                            display: Progress note
                        category:
                        - coding:
                          - system: http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category
                            code: clinical-note
                            display: Clinical Note
                        subject:
                          reference: Patient/1.120182.1.17082675
                          type: Patient
                        date: '2026-03-02T13:38:07.000+00:00'
                        author:
                        - reference: Practitioner/1.120182.2.17081470
                          type: Practitioner
                        custodian:
                          reference: Organization/1.120182
                          type: Organization
                        content:
                        - attachment:
                            contentType: application/xml
                            url: https://pod45-varema.s3.amazonaws.com/549/secure/users/g1708/17082675/notes/34749904/EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_ClinicalSummary_CCD_Final.ccda.xml
                          format:
                            system: http://ihe.net/fhir/ValueSet/IHE.FormatCode.codesystem
                            code: urn:hl7-org:sdwg:ccda-structuredBody:2.1
                            display: For documents following C-CDA 2.1 constraints using a structured body.
                        context:
                          encounter:
                          - reference: Encounter/1.120182.10.32975932
                            type: Encounter
                          period:
                            start: '2025-03-03T13:32:19+00:00'
                    - fullUrl: https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/DocumentReference/1.120182.9.2.169752791
                      resource:
                        resourceType: DocumentReference
                        id: 1.120182.9.2.169752791
                        meta:
                          source: Organization/1.120182
                          profile:
                          - http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference
                        identifier:
                        - system: http://fhir.ema-api.com/ns/filename
                          value: EMA_20260302T140021_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_Visit_Final.pdf
                        status: current
                        type:
                          coding:
                          - system: http://terminology.hl7.org/CodeSystem/v3-NullFlavor
                            code: UNK
                            display: unknown
                        category:
                        - coding:
                          - system: http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category
                            code: clinical-note
                            display: Clinical Note
                        subject:
                          reference: Patient/1.120182.1.17082675
                          type: Patient
                        date: '2026-03-02T14:02:35.000+00:00'
                        author:
                        - reference: Practitioner/1.120182.2.17081470
                          type: Practitioner
                        custodian:
                          reference: Organization/1.120182
                          type: Organization
                        content:
                        - attachment:
                            contentType: application/pdf
                            url: https://pod45-varema.s3.amazonaws.com/549/secure/users/g1708/17082675/notes/34751090/EMA_20260302T140021_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_Visit_Final.pdf
                          format:
                            system: http://ihe.net/fhir/ValueSet/IHE.FormatCode.codesystem
                            code: urn:ihe:iti:xds:2017:mimeTypeSufficient
                            display: mimeType Sufficient
                        context:
                          encounter:
                          - reference: Encounter/1.120182.10.32976936
                            type: Encounter
                          period:
                            start: '2026-03-02T14:00:21+00:00'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/FHIR-XML-RESOURCE'
components:
  schemas:
    FHIR-XML-RESOURCE:
      type: object
      description: A FHIR resource
    FHIR-JSON-RESOURCE:
      type: object
      description: A FHIR resource
  securitySchemes:
    smartOnFhir:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/auth/realms/fhir/protocol/openid-connect/auth
          tokenUrl: https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/auth/realms/fhir/protocol/openid-connect/token
          scopes:
            openid: OpenID Connect (auto-granted)
            fhirUser: FHIR reference to the authenticated practitioner
            profile: Standard OIDC profile claims
            launch/patient: Request patient context in the token
            offline_access: Request a long-lived refresh token
            patient/AllergyIntolerance.rs: Read/search AllergyIntolerance (patient context)
            patient/CarePlan.rs: Read/search CarePlan (patient context)
            patient/CareTeam.rs: Read/search CareTeam (patient context)
            patient/Condition.rs: Read/search Condition (patient context)
            patient/Coverage.rs: Read/search Coverage (patient context)
            patient/Device.rs: Read/search Device (patient context)
            patient/DiagnosticReport.rs: Read/search DiagnosticReport (patient context)
            patient/DocumentReference.rs: Read/search DocumentReference (patient context)
            patient/Encounter.rs: Read/search Encounter (patient context)
            patient/Goal.rs: Read/search Goal (patient context)
            patient/Immunization.rs: Read/search Immunization (patient context)
            patient/Location.rs: Read/search Location (patient context)
            patient/Medication.rs: Read/search Medication (patient context)
            patient/MedicationRequest.rs: Read/search MedicationRequest (patient context)
            patient/Observation.rs: Read/search Observation (patient context)
            patient/Organization.rs: Read/search Organization (patient context)
            patient/Patient.rs: Read/search Patient (patient context)
            patient/Practitioner.rs: Read/search Practitioner (patient context)
            patient/PractitionerRole.rs: Read/search PractitionerRole (patient context)
            patient/Procedure.rs: Read/search Procedure (patient context)
            patient/Provenance.rs: Read/search Provenance (patient context)
            patient/RelatedPerson.rs: Read/search RelatedPerson (patient context)
            patient/ServiceRequest.rs: Read/search ServiceRequest (patient context)
            user/AllergyIntolerance.rs: Read/search AllergyIntolerance (user context)
            user/CarePlan.rs: Read/search CarePlan (user context)
            user/CareTeam.rs: Read/search CareTeam (user context)
            user/Condition.rs: Read/search Condition (user context)
            user/Coverage.rs: Read/search Coverage (user context)
            user/Device.rs: Read/search Device (user context)
            user/DiagnosticReport.rs: Read/search DiagnosticReport (user context)
            user/DocumentReference.rs: Read/search DocumentReference (user context)
            user/Encounter.rs: Read/search Encounter (user context)
            user/Goal.rs: Read/search Goal (user context)
            user/Immunization.rs: Read/search Immunization (user context)
            user/Location.rs: Read/search Location (user context)
            user/Medication.rs: Read/search Medication (user context)
            user/MedicationRequest.rs: Read/search MedicationRequest (user context)
            user/Observation.rs: Read/search Observation (user context)
            user/Organization.rs: Read/search Organization (user context)
            user/Patient.rs: Read/search Patient (user context)
            user/Practitioner.rs: Read/search Practitioner (user context)
            user/PractitionerRole.rs: Read/search PractitionerRole (user context)
            user/Procedure.rs: Read/search Procedure (user context)
            user/Provenance.rs: Read/search Provenance (user context)
            user/RelatedPerson.rs: Read/search RelatedPerson (user context)
            user/ServiceRequest.rs: Read/search ServiceRequest (user context)
            system/AllergyIntolerance.rs: Read/search AllergyIntolerance (system/bulk context)
            system/CarePlan.rs: Read/search CarePlan (system/bulk context)
            system/CareTeam.rs: Read/search CareTeam (system/bulk context)
            system/Condition.rs: Read/search Condition (system/bulk context)
            system/Coverage.rs: Read/search Coverage (system/bulk context)
            system/Device.rs: Read/search Device (system/bulk context)
            system/DiagnosticReport.rs: Read/search DiagnosticReport (system/bulk context)
            system/DocumentReference.rs: Read/search DocumentReference (system/bulk context)
            system/Encounter.rs: Read/search Encounter (system/bulk context)
            system/Goal.rs: Read/search Goal (system/bulk context)
            system/Immunization.rs: Read/search Immunization (system/bulk context)
            system/Location.rs: Read/search Location (system/bulk context)
            system/Medication.rs: Read/search Medication (system/bulk context)
            system/MedicationRequest.rs: Read/search MedicationRequest (system/bulk context)
            system/Observation.rs: Read/search Observation (system/bulk context)
            system/Organization.rs: Read/search Organization (system/bulk context)
            system/Patient.rs: Read/search Patient (system/bulk context)
            system/Practitioner.rs: Read/search Practitioner (system/bulk context)
            system/PractitionerRole.rs: Read/search PractitionerRole (system/bulk context)
            system/Procedure.rs: Read/search Procedure (system/bulk context)
            system/Provenance.rs: Read/search Provenance (system/bulk context)
            system/RelatedPerson.rs: Read/search RelatedPerson (system/bulk context)
            system/ServiceRequest.rs: Read/search ServiceRequest (system/bulk context)
