{
  "openapi": "3.0.1",
  "info": {
    "title": "ModMed Certified API",
    "contact": {},
    "version": "4.1-SNAPSHOT",
    "description": "**FHIR endpoints are customer-specific.** Each practice has its own Certified FHIR endpoint \u2014 browse the directory at https://mm-fhir-endpoint-display.prod.fhir.ema-api.com/. The server below (`https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4`) is a production **demonstration endpoint** for testing your integration; it behaves exactly like any practice's endpoint. See the **Authentication** documentation for the OAuth 2.0 / SMART App Launch flow."
  },
  "servers": [
    {
      "url": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4",
      "description": "EMA Certified FHIR API",
      "variables": {
        "firm": {
          "default": "fhirmp",
          "description": "Your firm subdomain (e.g. fhirmp, auraderm). Find yours at https://mm-fhir-endpoint-display.prod.fhir.ema-api.com/"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "AllergyIntolerance",
      "description": "The AllergyIntolerance FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance"
    },
    {
      "name": "CarePlan",
      "description": "The CarePlan FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan"
    },
    {
      "name": "CareTeam",
      "description": "The CareTeam FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam"
    },
    {
      "name": "Condition",
      "description": "The Condition FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition"
    },
    {
      "name": "Coverage",
      "description": "The Coverage FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-coverage"
    },
    {
      "name": "Device",
      "description": "The Device FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-implantable-device"
    },
    {
      "name": "DiagnosticReport",
      "description": "The DiagnosticReport FHIR resource type"
    },
    {
      "name": "DocumentReference",
      "description": "The DocumentReference FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference"
    },
    {
      "name": "Encounter",
      "description": "The Encounter FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-encounter"
    },
    {
      "name": "Endpoint",
      "description": "The Endpoint FHIR resource type"
    },
    {
      "name": "Goal",
      "description": "The Goal FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-goal"
    },
    {
      "name": "Group",
      "description": "The Group FHIR resource type"
    },
    {
      "name": "Immunization",
      "description": "The Immunization FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-immunization"
    },
    {
      "name": "Location",
      "description": "The Location FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-location"
    },
    {
      "name": "Medication",
      "description": "The Medication FHIR resource type<br/>Base profile: http://hl7.org/fhir/StructureDefinition/Medication"
    },
    {
      "name": "MedicationDispense"
    },
    {
      "name": "MedicationRequest",
      "description": "The MedicationRequest FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-medicationrequest"
    },
    {
      "name": "Capability Statement",
      "description": "Capability Statement"
    },
    {
      "name": "Observation",
      "description": "The Observation FHIR resource type"
    },
    {
      "name": "OperationDefinition",
      "description": "The OperationDefinition FHIR resource type<br/>Base profile: http://hl7.org/fhir/StructureDefinition/OperationDefinition"
    },
    {
      "name": "Organization",
      "description": "The Organization FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-organization"
    },
    {
      "name": "Patient",
      "description": "The Patient FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-patient"
    },
    {
      "name": "Practitioner",
      "description": "The Practitioner FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitioner"
    },
    {
      "name": "PractitionerRole",
      "description": "The PractitionerRole FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-practitionerrole"
    },
    {
      "name": "Procedure",
      "description": "The Procedure FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-procedure"
    },
    {
      "name": "Provenance",
      "description": "The Provenance FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-provenance"
    },
    {
      "name": "Questionnaire"
    },
    {
      "name": "QuestionnaireResponse"
    },
    {
      "name": "RelatedPerson"
    },
    {
      "name": "ServiceRequest",
      "description": "The ServiceRequest FHIR resource type<br/>Base profile: http://hl7.org/fhir/us/core/StructureDefinition/us-core-servicerequest"
    },
    {
      "name": "Specimen"
    },
    {
      "name": "ValueSet",
      "description": "The ValueSet FHIR resource type"
    }
  ],
  "paths": {
    "/AllergyIntolerance/{id}": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "summary": "read-instance: Read AllergyIntolerance instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "allergy-nausea": {
                    "summary": "Active unconfirmed allergy \u2014 SNOMED coded substance, moderate nausea reaction",
                    "value": {
                      "resourceType": "AllergyIntolerance",
                      "id": "1.120182.4.5027246",
                      "meta": {
                        "source": "Organization/1.120182",
                        "profile": [
                          "http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance"
                        ]
                      },
                      "clinicalStatus": {
                        "coding": [
                          {
                            "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical",
                            "code": "active",
                            "display": "Active"
                          }
                        ]
                      },
                      "verificationStatus": {
                        "coding": [
                          {
                            "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-verification",
                            "code": "unconfirmed",
                            "display": "Unconfirmed"
                          }
                        ]
                      },
                      "code": {
                        "coding": [
                          {
                            "system": "http://snomed.info/sct",
                            "code": "890458001"
                          }
                        ]
                      },
                      "patient": {
                        "reference": "Patient/1.120182.1.17082675",
                        "type": "Patient"
                      },
                      "reaction": [
                        {
                          "manifestation": [
                            {
                              "coding": [
                                {
                                  "system": "http://snomed.info/sct",
                                  "code": "422587007",
                                  "display": "Nausea"
                                }
                              ]
                            }
                          ],
                          "severity": "moderate"
                        }
                      ]
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/AllergyIntolerance": {
      "get": {
        "tags": [
          "AllergyIntolerance"
        ],
        "summary": "search-type: Search for AllergyIntolerance instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "active | inactive | resolved",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the sensitivity is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "allergyintolerance-bundle": {
                    "summary": "Patient allergy list \u2014 1 active unconfirmed allergy with reaction severity",
                    "value": {
                      "resourceType": "Bundle",
                      "type": "searchset",
                      "total": 1,
                      "link": [
                        {
                          "relation": "self",
                          "url": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/AllergyIntolerance?patient=1.120182.1.17082675"
                        }
                      ],
                      "entry": [
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/AllergyIntolerance/1.120182.4.5027246",
                          "resource": {
                            "resourceType": "AllergyIntolerance",
                            "id": "1.120182.4.5027246",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-allergyintolerance"
                              ]
                            },
                            "clinicalStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical",
                                  "code": "active",
                                  "display": "Active"
                                }
                              ]
                            },
                            "verificationStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/allergyintolerance-verification",
                                  "code": "unconfirmed",
                                  "display": "Unconfirmed"
                                }
                              ]
                            },
                            "code": {
                              "coding": [
                                {
                                  "system": "http://snomed.info/sct",
                                  "code": "890458001"
                                }
                              ]
                            },
                            "patient": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "reaction": [
                              {
                                "manifestation": [
                                  {
                                    "coding": [
                                      {
                                        "system": "http://snomed.info/sct",
                                        "code": "422587007",
                                        "display": "Nausea"
                                      }
                                    ]
                                  }
                                ],
                                "severity": "moderate"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/CarePlan/{id}": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "summary": "read-instance: Read CarePlan instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "methotrexate-careplan": {
                    "summary": "Medication care plan \u2014 methotrexate dosage instructions, text.status=additional, intent=proposal",
                    "value": {
                      "resourceType": "CarePlan",
                      "id": "1.120182.5.1.13819514",
                      "meta": {
                        "source": "Organization/1.120182",
                        "profile": [
                          "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan"
                        ]
                      },
                      "text": {
                        "status": "additional",
                        "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">&lt;table&gt;\n &lt;thead&gt;\n  &lt;tr&gt;\n   &lt;td&gt;Code&lt;/td&gt;\n   &lt;td&gt;Detail&lt;/td&gt;\n   &lt;td&gt;Instructions&lt;/td&gt;\n  &lt;/tr&gt;\n &lt;/thead&gt;\n &lt;tbody&gt;\n  &lt;tr&gt;\n   &lt;td&gt;105585&lt;/td&gt;\n   &lt;td&gt;methotrexate sodium 2.5 mg tablet&lt;/td&gt;\n   &lt;td&gt;Take six pills (15mg) once weekly.&lt;/td&gt;\n  &lt;/tr&gt;\n &lt;/tbody&gt;\n&lt;/table&gt;</div>"
                      },
                      "status": "active",
                      "intent": "proposal",
                      "category": [
                        {
                          "coding": [
                            {
                              "system": "http://hl7.org/fhir/us/core/CodeSystem/careplan-category",
                              "code": "assess-plan"
                            }
                          ]
                        }
                      ],
                      "subject": {
                        "reference": "Patient/1.120182.1.17082675",
                        "type": "Patient"
                      }
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/CarePlan": {
      "get": {
        "tags": [
          "CarePlan"
        ],
        "summary": "search-type: Search for CarePlan instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Type of plan",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "intent",
            "in": "query",
            "description": "proposal | plan | order | option",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who the care plan is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "draft | active | on-hold | revoked | completed | entered-in-error | unknown",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "careplan-bundle": {
                    "summary": "Patient care plans \u2014 3 of 16 shown: lab order (CBC), follow-up visit proposal, and medication proposal (methotrexate)",
                    "value": {
                      "resourceType": "Bundle",
                      "type": "searchset",
                      "total": 16,
                      "link": [
                        {
                          "relation": "self",
                          "url": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/CarePlan?patient=1.120182.1.17082675"
                        }
                      ],
                      "entry": [
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/CarePlan/1.120182.5.1.13818759",
                          "resource": {
                            "resourceType": "CarePlan",
                            "id": "1.120182.5.1.13818759",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan"
                              ]
                            },
                            "text": {
                              "status": "generated",
                              "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">&lt;table&gt;&lt;thead&gt;&lt;tr&gt;&lt;th&gt;Code&lt;/th&gt;&lt;th&gt;Detail&lt;/th&gt;&lt;th&gt;Instructions&lt;/th&gt;&lt;/tr&gt;&lt;/thead&gt;&lt;tbody&gt;&lt;tr&gt;&lt;td&gt;57021-8&lt;/td&gt;&lt;td&gt;CBC W Auto Diff Bld&lt;/td&gt;&lt;td&gt;March 02, 2026&lt;/td&gt;&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</div>"
                            },
                            "status": "active",
                            "intent": "order",
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://hl7.org/fhir/us/core/CodeSystem/careplan-category",
                                    "code": "assess-plan"
                                  }
                                ]
                              }
                            ],
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            }
                          }
                        },
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/CarePlan/1.120182.5.1.13819513",
                          "resource": {
                            "resourceType": "CarePlan",
                            "id": "1.120182.5.1.13819513",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan"
                              ]
                            },
                            "text": {
                              "status": "generated",
                              "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">&lt;div&gt;\n &lt;p&gt;Future visit for 03/02/2027 - Follow up in 1 year&lt;/p&gt;\n&lt;/div&gt;</div>"
                            },
                            "status": "active",
                            "intent": "proposal",
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://hl7.org/fhir/us/core/CodeSystem/careplan-category",
                                    "code": "assess-plan"
                                  }
                                ]
                              }
                            ],
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            }
                          }
                        },
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/CarePlan/1.120182.5.1.13819514",
                          "resource": {
                            "resourceType": "CarePlan",
                            "id": "1.120182.5.1.13819514",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careplan"
                              ]
                            },
                            "text": {
                              "status": "additional",
                              "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\">&lt;table&gt;\n &lt;thead&gt;\n  &lt;tr&gt;\n   &lt;td&gt;Code&lt;/td&gt;\n   &lt;td&gt;Detail&lt;/td&gt;\n   &lt;td&gt;Instructions&lt;/td&gt;\n  &lt;/tr&gt;\n &lt;/thead&gt;\n &lt;tbody&gt;\n  &lt;tr&gt;\n   &lt;td&gt;105585&lt;/td&gt;\n   &lt;td&gt;methotrexate sodium 2.5 mg tablet&lt;/td&gt;\n   &lt;td&gt;Take six pills (15mg) once weekly.&lt;/td&gt;\n  &lt;/tr&gt;\n &lt;/tbody&gt;\n&lt;/table&gt;</div>"
                            },
                            "status": "active",
                            "intent": "proposal",
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://hl7.org/fhir/us/core/CodeSystem/careplan-category",
                                    "code": "assess-plan"
                                  }
                                ]
                              }
                            ],
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/CareTeam/{id}": {
      "get": {
        "tags": [
          "CareTeam"
        ],
        "summary": "read-instance: Read CareTeam instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "care-team-doctors": {
                    "summary": "Active care team \u2014 3 physician participants; member display names use data-absent-reason extension",
                    "value": {
                      "resourceType": "CareTeam",
                      "id": "1.120182.6.17082675",
                      "meta": {
                        "source": "Organization/1.120182",
                        "profile": [
                          "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam"
                        ]
                      },
                      "status": "active",
                      "subject": {
                        "reference": "Patient/1.120182.1.17082675",
                        "type": "Patient"
                      },
                      "participant": [
                        {
                          "role": [
                            {
                              "coding": [
                                {
                                  "code": "DOCTOR",
                                  "display": "Doctor"
                                }
                              ]
                            }
                          ],
                          "member": {
                            "reference": "Practitioner/1.120182.2.14672591",
                            "type": "Practitioner",
                            "_display": {
                              "extension": [
                                {
                                  "url": "http://hl7.org/fhir/StructureDefinition/data-absent-reason",
                                  "valueCode": "unknown"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "role": [
                            {
                              "coding": [
                                {
                                  "code": "DOCTOR",
                                  "display": "Doctor"
                                }
                              ]
                            }
                          ],
                          "member": {
                            "reference": "Practitioner/1.120182.2.14672596",
                            "type": "Practitioner",
                            "_display": {
                              "extension": [
                                {
                                  "url": "http://hl7.org/fhir/StructureDefinition/data-absent-reason",
                                  "valueCode": "unknown"
                                }
                              ]
                            }
                          }
                        },
                        {
                          "role": [
                            {
                              "coding": [
                                {
                                  "code": "DOCTOR",
                                  "display": "Doctor"
                                }
                              ]
                            }
                          ],
                          "member": {
                            "reference": "Practitioner/1.120182.2.17081470",
                            "type": "Practitioner",
                            "_display": {
                              "extension": [
                                {
                                  "url": "http://hl7.org/fhir/StructureDefinition/data-absent-reason",
                                  "valueCode": "unknown"
                                }
                              ]
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/CareTeam": {
      "get": {
        "tags": [
          "CareTeam"
        ],
        "summary": "search-type: Search for CareTeam instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who care team is for",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "proposed | active | suspended | inactive | entered-in-error",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "careteam-bundle": {
                    "summary": "Patient care team \u2014 1 active team with 3 physician members, total 1",
                    "value": {
                      "resourceType": "Bundle",
                      "type": "searchset",
                      "total": 1,
                      "link": [
                        {
                          "relation": "self",
                          "url": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/CareTeam?patient=1.120182.1.17082675"
                        }
                      ],
                      "entry": [
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/CareTeam/1.120182.6.17082675",
                          "resource": {
                            "resourceType": "CareTeam",
                            "id": "1.120182.6.17082675",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-careteam"
                              ]
                            },
                            "status": "active",
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "participant": [
                              {
                                "role": [
                                  {
                                    "coding": [
                                      {
                                        "code": "DOCTOR",
                                        "display": "Doctor"
                                      }
                                    ]
                                  }
                                ],
                                "member": {
                                  "reference": "Practitioner/1.120182.2.14672591",
                                  "type": "Practitioner",
                                  "_display": {
                                    "extension": [
                                      {
                                        "url": "http://hl7.org/fhir/StructureDefinition/data-absent-reason",
                                        "valueCode": "unknown"
                                      }
                                    ]
                                  }
                                }
                              },
                              {
                                "role": [
                                  {
                                    "coding": [
                                      {
                                        "code": "DOCTOR",
                                        "display": "Doctor"
                                      }
                                    ]
                                  }
                                ],
                                "member": {
                                  "reference": "Practitioner/1.120182.2.14672596",
                                  "type": "Practitioner",
                                  "_display": {
                                    "extension": [
                                      {
                                        "url": "http://hl7.org/fhir/StructureDefinition/data-absent-reason",
                                        "valueCode": "unknown"
                                      }
                                    ]
                                  }
                                }
                              },
                              {
                                "role": [
                                  {
                                    "coding": [
                                      {
                                        "code": "DOCTOR",
                                        "display": "Doctor"
                                      }
                                    ]
                                  }
                                ],
                                "member": {
                                  "reference": "Practitioner/1.120182.2.17081470",
                                  "type": "Practitioner",
                                  "_display": {
                                    "extension": [
                                      {
                                        "url": "http://hl7.org/fhir/StructureDefinition/data-absent-reason",
                                        "valueCode": "unknown"
                                      }
                                    ]
                                  }
                                }
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Condition/{id}": {
      "get": {
        "tags": [
          "Condition"
        ],
        "summary": "read-instance: Read Condition instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "atopic-dermatitis": {
                    "summary": "Active confirmed condition \u2014 atopic dermatitis (problem list + encounter diagnosis)",
                    "value": {
                      "resourceType": "Condition",
                      "id": "1.120182.7.1.62507158",
                      "meta": {
                        "source": "Organization/1.120182",
                        "profile": [
                          "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-problems-health-concerns",
                          "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-encounter-diagnosis"
                        ]
                      },
                      "clinicalStatus": {
                        "coding": [
                          {
                            "system": "http://terminology.hl7.org/CodeSystem/condition-clinical",
                            "code": "active",
                            "display": "Active"
                          }
                        ],
                        "text": "Active"
                      },
                      "verificationStatus": {
                        "coding": [
                          {
                            "system": "http://terminology.hl7.org/CodeSystem/condition-ver-status",
                            "code": "confirmed",
                            "display": "Confirmed"
                          }
                        ],
                        "text": "Confirmed"
                      },
                      "category": [
                        {
                          "coding": [
                            {
                              "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                              "code": "problem-list-item",
                              "display": "Problem List Item"
                            }
                          ],
                          "text": "Problem List Item"
                        },
                        {
                          "coding": [
                            {
                              "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                              "code": "encounter-diagnosis",
                              "display": "Encounter Diagnosis"
                            }
                          ],
                          "text": "Encounter Diagnosis"
                        }
                      ],
                      "code": {
                        "coding": [
                          {
                            "system": "http://snomed.info/sct",
                            "code": "24079001",
                            "display": "Atopic dermatitis"
                          }
                        ],
                        "text": "Atopic dermatitis"
                      },
                      "subject": {
                        "reference": "Patient/1.120182.1.17082675",
                        "type": "Patient"
                      },
                      "encounter": {
                        "reference": "Encounter/1.120182.10.33611285",
                        "type": "Encounter"
                      },
                      "onsetDateTime": "2026-04-06T16:35:13+00:00",
                      "recordedDate": "2026-04-06T17:51:54+00:00"
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Condition": {
      "get": {
        "tags": [
          "Condition"
        ],
        "summary": "search-type: Search for Condition instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "The category of the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "clinical-status",
            "in": "query",
            "description": "The clinical status of the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "Code for the condition",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "encounter",
            "in": "query",
            "description": "Encounter created as part of",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onset-date",
            "in": "query",
            "description": "Date related onsets (dateTime and Period)",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who has the condition?",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "recorded-date",
            "in": "query",
            "description": "Date record was first recorded",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "condition-bundle": {
                    "summary": "Patient problem list: psoriasis vulgaris (3 encounters) and atopic dermatitis \u2014 total 4",
                    "value": {
                      "resourceType": "Bundle",
                      "type": "searchset",
                      "total": 4,
                      "link": [
                        {
                          "relation": "self",
                          "url": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/Condition?patient=1.120182.1.17082675"
                        }
                      ],
                      "entry": [
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/Condition/1.120182.7.1.60732921",
                          "resource": {
                            "resourceType": "Condition",
                            "id": "1.120182.7.1.60732921",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-problems-health-concerns",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-encounter-diagnosis"
                              ]
                            },
                            "clinicalStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/condition-clinical",
                                  "code": "active",
                                  "display": "Active"
                                }
                              ],
                              "text": "Active"
                            },
                            "verificationStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/condition-ver-status",
                                  "code": "confirmed",
                                  "display": "Confirmed"
                                }
                              ],
                              "text": "Confirmed"
                            },
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                                    "code": "problem-list-item",
                                    "display": "Problem List Item"
                                  }
                                ],
                                "text": "Problem List Item"
                              },
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                                    "code": "encounter-diagnosis",
                                    "display": "Encounter Diagnosis"
                                  }
                                ],
                                "text": "Encounter Diagnosis"
                              }
                            ],
                            "code": {
                              "coding": [
                                {
                                  "system": "http://snomed.info/sct",
                                  "code": "200975007",
                                  "display": "Psoriasis vulgaris"
                                }
                              ],
                              "text": "Psoriasis vulgaris"
                            },
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "encounter": {
                              "reference": "Encounter/1.120182.10.32975932",
                              "type": "Encounter"
                            },
                            "onsetDateTime": "2025-03-03T13:32:19+00:00",
                            "recordedDate": "2026-03-02T13:38:16+00:00"
                          }
                        },
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/Condition/1.120182.7.1.60734256",
                          "resource": {
                            "resourceType": "Condition",
                            "id": "1.120182.7.1.60734256",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-problems-health-concerns",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-encounter-diagnosis"
                              ]
                            },
                            "clinicalStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/condition-clinical",
                                  "code": "active",
                                  "display": "Active"
                                }
                              ],
                              "text": "Active"
                            },
                            "verificationStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/condition-ver-status",
                                  "code": "confirmed",
                                  "display": "Confirmed"
                                }
                              ],
                              "text": "Confirmed"
                            },
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                                    "code": "problem-list-item",
                                    "display": "Problem List Item"
                                  }
                                ],
                                "text": "Problem List Item"
                              },
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                                    "code": "encounter-diagnosis",
                                    "display": "Encounter Diagnosis"
                                  }
                                ],
                                "text": "Encounter Diagnosis"
                              }
                            ],
                            "code": {
                              "coding": [
                                {
                                  "system": "http://snomed.info/sct",
                                  "code": "200975007",
                                  "display": "Psoriasis vulgaris"
                                }
                              ],
                              "text": "Psoriasis vulgaris"
                            },
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "encounter": {
                              "reference": "Encounter/1.120182.10.32976936",
                              "type": "Encounter"
                            },
                            "onsetDateTime": "2026-03-02T14:00:21+00:00",
                            "recordedDate": "2026-03-02T14:02:38+00:00"
                          }
                        },
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/Condition/1.120182.7.1.62507158",
                          "resource": {
                            "resourceType": "Condition",
                            "id": "1.120182.7.1.62507158",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-problems-health-concerns",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-encounter-diagnosis"
                              ]
                            },
                            "clinicalStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/condition-clinical",
                                  "code": "active",
                                  "display": "Active"
                                }
                              ],
                              "text": "Active"
                            },
                            "verificationStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/condition-ver-status",
                                  "code": "confirmed",
                                  "display": "Confirmed"
                                }
                              ],
                              "text": "Confirmed"
                            },
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                                    "code": "problem-list-item",
                                    "display": "Problem List Item"
                                  }
                                ],
                                "text": "Problem List Item"
                              },
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                                    "code": "encounter-diagnosis",
                                    "display": "Encounter Diagnosis"
                                  }
                                ],
                                "text": "Encounter Diagnosis"
                              }
                            ],
                            "code": {
                              "coding": [
                                {
                                  "system": "http://snomed.info/sct",
                                  "code": "24079001",
                                  "display": "Atopic dermatitis"
                                }
                              ],
                              "text": "Atopic dermatitis"
                            },
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "encounter": {
                              "reference": "Encounter/1.120182.10.33611285",
                              "type": "Encounter"
                            },
                            "onsetDateTime": "2026-04-06T16:35:13+00:00",
                            "recordedDate": "2026-04-06T17:51:54+00:00"
                          }
                        },
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/Condition/1.120182.7.1.64546691",
                          "resource": {
                            "resourceType": "Condition",
                            "id": "1.120182.7.1.64546691",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-problems-health-concerns",
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-condition-encounter-diagnosis"
                              ]
                            },
                            "clinicalStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/condition-clinical",
                                  "code": "active",
                                  "display": "Active"
                                }
                              ],
                              "text": "Active"
                            },
                            "verificationStatus": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/condition-ver-status",
                                  "code": "confirmed",
                                  "display": "Confirmed"
                                }
                              ],
                              "text": "Confirmed"
                            },
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                                    "code": "problem-list-item",
                                    "display": "Problem List Item"
                                  }
                                ],
                                "text": "Problem List Item"
                              },
                              {
                                "coding": [
                                  {
                                    "system": "http://terminology.hl7.org/CodeSystem/condition-category",
                                    "code": "encounter-diagnosis",
                                    "display": "Encounter Diagnosis"
                                  }
                                ],
                                "text": "Encounter Diagnosis"
                              }
                            ],
                            "code": {
                              "coding": [
                                {
                                  "system": "http://snomed.info/sct",
                                  "code": "200975007",
                                  "display": "Psoriasis vulgaris"
                                }
                              ],
                              "text": "Psoriasis vulgaris"
                            },
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "encounter": {
                              "reference": "Encounter/1.120182.10.34997323",
                              "type": "Encounter"
                            },
                            "onsetDateTime": "2026-05-14T18:24:31+00:00",
                            "recordedDate": "2026-05-14T18:27:47+00:00"
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage/{id}": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "read-instance: Read Coverage instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "medicare-advantage-coverage": {
                    "summary": "Active subsidized supplemental coverage \u2014 Pennsylvania Medicare Advantage, self subscriber, group and plan class identifiers",
                    "value": {
                      "resourceType": "Coverage",
                      "id": "1.120182.23.1.17107811",
                      "meta": {
                        "source": "Organization/1.120182",
                        "profile": [
                          "http://hl7.org/fhir/us/core/StructureDefinition/us-core-coverage"
                        ]
                      },
                      "identifier": [
                        {
                          "type": {
                            "coding": [
                              {
                                "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
                                "code": "MB"
                              }
                            ]
                          },
                          "value": "9998887777"
                        }
                      ],
                      "status": "active",
                      "type": {
                        "coding": [
                          {
                            "system": "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                            "code": "SUBSUPP",
                            "display": "subsidized supplemental health program"
                          }
                        ]
                      },
                      "subscriberId": "9998887777",
                      "beneficiary": {
                        "reference": "Patient/1.120182.1.17082675",
                        "type": "Patient"
                      },
                      "relationship": {
                        "coding": [
                          {
                            "system": "http://terminology.hl7.org/CodeSystem/subscriber-relationship",
                            "code": "self",
                            "display": "Self"
                          }
                        ]
                      },
                      "period": {
                        "start": "2026-01-01T00:00:00+00:00",
                        "end": "2026-12-31T00:00:00+00:00"
                      },
                      "payor": [
                        {
                          "reference": "Organization/1.120182.0.1.55786",
                          "type": "Organization",
                          "display": "Pennsylvania Medicare Advantage"
                        }
                      ],
                      "class": [
                        {
                          "type": {
                            "coding": [
                              {
                                "system": "http://terminology.hl7.org/CodeSystem/coverage-class",
                                "code": "group"
                              }
                            ]
                          },
                          "value": "8887776666",
                          "name": "Pennsylvania Medicare Advantage"
                        },
                        {
                          "type": {
                            "coding": [
                              {
                                "system": "http://terminology.hl7.org/CodeSystem/coverage-class",
                                "code": "plan"
                              }
                            ]
                          },
                          "value": "9998887777",
                          "name": "Pennsylvania Medicare Advantage"
                        }
                      ]
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Coverage": {
      "get": {
        "tags": [
          "Coverage"
        ],
        "summary": "search-type: Search for Coverage instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Retrieve coverages for a patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "coverage-bundle": {
                    "summary": "Patient insurance coverage \u2014 1 active Medicare Advantage plan, calendar year 2026, total 1",
                    "value": {
                      "resourceType": "Bundle",
                      "type": "searchset",
                      "total": 1,
                      "link": [
                        {
                          "relation": "self",
                          "url": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/Coverage?patient=1.120182.1.17082675"
                        }
                      ],
                      "entry": [
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/Coverage/1.120182.23.1.17107811",
                          "resource": {
                            "resourceType": "Coverage",
                            "id": "1.120182.23.1.17107811",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-coverage"
                              ]
                            },
                            "identifier": [
                              {
                                "type": {
                                  "coding": [
                                    {
                                      "system": "http://terminology.hl7.org/CodeSystem/v2-0203",
                                      "code": "MB"
                                    }
                                  ]
                                },
                                "value": "9998887777"
                              }
                            ],
                            "status": "active",
                            "type": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/v3-ActCode",
                                  "code": "SUBSUPP",
                                  "display": "subsidized supplemental health program"
                                }
                              ]
                            },
                            "subscriberId": "9998887777",
                            "beneficiary": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "relationship": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/subscriber-relationship",
                                  "code": "self",
                                  "display": "Self"
                                }
                              ]
                            },
                            "period": {
                              "start": "2026-01-01T00:00:00+00:00",
                              "end": "2026-12-31T00:00:00+00:00"
                            },
                            "payor": [
                              {
                                "reference": "Organization/1.120182.0.1.55786",
                                "type": "Organization",
                                "display": "Pennsylvania Medicare Advantage"
                              }
                            ],
                            "class": [
                              {
                                "type": {
                                  "coding": [
                                    {
                                      "system": "http://terminology.hl7.org/CodeSystem/coverage-class",
                                      "code": "group"
                                    }
                                  ]
                                },
                                "value": "8887776666",
                                "name": "Pennsylvania Medicare Advantage"
                              },
                              {
                                "type": {
                                  "coding": [
                                    {
                                      "system": "http://terminology.hl7.org/CodeSystem/coverage-class",
                                      "code": "plan"
                                    }
                                  ]
                                },
                                "value": "9998887777",
                                "name": "Pennsylvania Medicare Advantage"
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Device/{id}": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "read-instance: Read Device instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Device": {
      "get": {
        "tags": [
          "Device"
        ],
        "summary": "search-type: Search for Device instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Patient information, if the resource is affixed to a person",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "The type of the device",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport/{id}": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "summary": "read-instance: Read DiagnosticReport instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport": {
      "get": {
        "tags": [
          "DiagnosticReport"
        ],
        "summary": "search-type: Search for DiagnosticReport instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Which diagnostic discipline/department created the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "The code for the report, as opposed to codes for the atomic results, which are the names on the observation resource referred to from the result",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "The clinically relevant time of the report",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "The subject of the report if a patient",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "The status of the report",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/DocumentReference/{id}": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "read-instance: Read DocumentReference instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "clinical-summary-ccda": {
                    "summary": "C-CDA 2.1 clinical summary \u2014 LOINC 11506-3 Progress note, application/xml, S3 pre-signed URL (20-min expiry)",
                    "value": {
                      "resourceType": "DocumentReference",
                      "id": "1.120182.9.2.169746408",
                      "meta": {
                        "source": "Organization/1.120182",
                        "profile": [
                          "http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference"
                        ]
                      },
                      "identifier": [
                        {
                          "system": "http://fhir.ema-api.com/ns/filename",
                          "value": "EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_ClinicalSummary_CCD_Final.ccda.xml"
                        }
                      ],
                      "status": "current",
                      "type": {
                        "coding": [
                          {
                            "system": "http://loinc.org",
                            "code": "11506-3",
                            "display": "Progress note"
                          }
                        ]
                      },
                      "category": [
                        {
                          "coding": [
                            {
                              "system": "http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category",
                              "code": "clinical-note",
                              "display": "Clinical Note"
                            }
                          ]
                        }
                      ],
                      "subject": {
                        "reference": "Patient/1.120182.1.17082675",
                        "type": "Patient"
                      },
                      "date": "2026-03-02T13:38:07.000+00:00",
                      "author": [
                        {
                          "reference": "Practitioner/1.120182.2.17081470",
                          "type": "Practitioner"
                        }
                      ],
                      "custodian": {
                        "reference": "Organization/1.120182",
                        "type": "Organization"
                      },
                      "content": [
                        {
                          "attachment": {
                            "contentType": "application/xml",
                            "url": "https://pod45-varema.s3.amazonaws.com/549/secure/users/g1708/17082675/notes/34749904/EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_ClinicalSummary_CCD_Final.ccda.xml"
                          },
                          "format": {
                            "system": "http://ihe.net/fhir/ValueSet/IHE.FormatCode.codesystem",
                            "code": "urn:hl7-org:sdwg:ccda-structuredBody:2.1",
                            "display": "For documents following C-CDA 2.1 constraints using a structured body."
                          }
                        }
                      ],
                      "context": {
                        "encounter": [
                          {
                            "reference": "Encounter/1.120182.10.32975932",
                            "type": "Encounter"
                          }
                        ],
                        "period": {
                          "start": "2025-03-03T13:32:19+00:00"
                        }
                      }
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/DocumentReference": {
      "get": {
        "tags": [
          "DocumentReference"
        ],
        "summary": "search-type: Search for DocumentReference instances",
        "description": "This is a search type",
        "parameters": [
          {
            "name": "_id",
            "in": "query",
            "description": "The ID of the resource",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Categorization of document",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "When this document reference was created",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "patient",
            "in": "query",
            "description": "Who/what is the subject of the document",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Time of service that is being documented",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date-time"
                },
                {
                  "type": "string",
                  "format": "date"
                }
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "current | superseded | entered-in-error",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Kind of document (LOINC if possible)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "documentreference-bundle": {
                    "summary": "Patient documents \u2014 3 of 40 shown: Visit PDF and C-CDA ClinicalSummary from encounter 1, Visit PDF from encounter 2; attachment.url values are AWS pre-signed S3 URLs",
                    "value": {
                      "resourceType": "Bundle",
                      "type": "searchset",
                      "total": 40,
                      "link": [
                        {
                          "relation": "self",
                          "url": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/DocumentReference?patient=1.120182.1.17082675"
                        }
                      ],
                      "entry": [
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/DocumentReference/1.120182.9.2.169746390",
                          "resource": {
                            "resourceType": "DocumentReference",
                            "id": "1.120182.9.2.169746390",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference"
                              ]
                            },
                            "identifier": [
                              {
                                "system": "http://fhir.ema-api.com/ns/filename",
                                "value": "EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_Visit_Final.pdf"
                              }
                            ],
                            "status": "current",
                            "type": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/v3-NullFlavor",
                                  "code": "UNK",
                                  "display": "unknown"
                                }
                              ]
                            },
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category",
                                    "code": "clinical-note",
                                    "display": "Clinical Note"
                                  }
                                ]
                              }
                            ],
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "date": "2026-03-02T13:38:07.000+00:00",
                            "author": [
                              {
                                "reference": "Practitioner/1.120182.2.17081470",
                                "type": "Practitioner"
                              }
                            ],
                            "custodian": {
                              "reference": "Organization/1.120182",
                              "type": "Organization"
                            },
                            "content": [
                              {
                                "attachment": {
                                  "contentType": "application/pdf",
                                  "url": "https://pod45-varema.s3.amazonaws.com/549/secure/users/g1708/17082675/notes/34749904/EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_Visit_Final.pdf"
                                },
                                "format": {
                                  "system": "http://ihe.net/fhir/ValueSet/IHE.FormatCode.codesystem",
                                  "code": "urn:ihe:iti:xds:2017:mimeTypeSufficient",
                                  "display": "mimeType Sufficient"
                                }
                              }
                            ],
                            "context": {
                              "encounter": [
                                {
                                  "reference": "Encounter/1.120182.10.32975932",
                                  "type": "Encounter"
                                }
                              ],
                              "period": {
                                "start": "2025-03-03T13:32:19+00:00"
                              }
                            }
                          }
                        },
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/DocumentReference/1.120182.9.2.169746408",
                          "resource": {
                            "resourceType": "DocumentReference",
                            "id": "1.120182.9.2.169746408",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference"
                              ]
                            },
                            "identifier": [
                              {
                                "system": "http://fhir.ema-api.com/ns/filename",
                                "value": "EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_ClinicalSummary_CCD_Final.ccda.xml"
                              }
                            ],
                            "status": "current",
                            "type": {
                              "coding": [
                                {
                                  "system": "http://loinc.org",
                                  "code": "11506-3",
                                  "display": "Progress note"
                                }
                              ]
                            },
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category",
                                    "code": "clinical-note",
                                    "display": "Clinical Note"
                                  }
                                ]
                              }
                            ],
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "date": "2026-03-02T13:38:07.000+00:00",
                            "author": [
                              {
                                "reference": "Practitioner/1.120182.2.17081470",
                                "type": "Practitioner"
                              }
                            ],
                            "custodian": {
                              "reference": "Organization/1.120182",
                              "type": "Organization"
                            },
                            "content": [
                              {
                                "attachment": {
                                  "contentType": "application/xml",
                                  "url": "https://pod45-varema.s3.amazonaws.com/549/secure/users/g1708/17082675/notes/34749904/EMA_20250303T133219_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_ClinicalSummary_CCD_Final.ccda.xml"
                                },
                                "format": {
                                  "system": "http://ihe.net/fhir/ValueSet/IHE.FormatCode.codesystem",
                                  "code": "urn:hl7-org:sdwg:ccda-structuredBody:2.1",
                                  "display": "For documents following C-CDA 2.1 constraints using a structured body."
                                }
                              }
                            ],
                            "context": {
                              "encounter": [
                                {
                                  "reference": "Encounter/1.120182.10.32975932",
                                  "type": "Encounter"
                                }
                              ],
                              "period": {
                                "start": "2025-03-03T13:32:19+00:00"
                              }
                            }
                          }
                        },
                        {
                          "fullUrl": "https://fhirmp.mmi.prod.fhir.ema-api.com/fhir/r4/DocumentReference/1.120182.9.2.169752791",
                          "resource": {
                            "resourceType": "DocumentReference",
                            "id": "1.120182.9.2.169752791",
                            "meta": {
                              "source": "Organization/1.120182",
                              "profile": [
                                "http://hl7.org/fhir/us/core/StructureDefinition/us-core-documentreference"
                              ]
                            },
                            "identifier": [
                              {
                                "system": "http://fhir.ema-api.com/ns/filename",
                                "value": "EMA_20260302T140021_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_Visit_Final.pdf"
                              }
                            ],
                            "status": "current",
                            "type": {
                              "coding": [
                                {
                                  "system": "http://terminology.hl7.org/CodeSystem/v3-NullFlavor",
                                  "code": "UNK",
                                  "display": "unknown"
                                }
                              ]
                            },
                            "category": [
                              {
                                "coding": [
                                  {
                                    "system": "http://hl7.org/fhir/us/core/CodeSystem/us-core-documentreference-category",
                                    "code": "clinical-note",
                                    "display": "Clinical Note"
                                  }
                                ]
                              }
                            ],
                            "subject": {
                              "reference": "Patient/1.120182.1.17082675",
                              "type": "Patient"
                            },
                            "date": "2026-03-02T14:02:35.000+00:00",
                            "author": [
                              {
                                "reference": "Practitioner/1.120182.2.17081470",
                                "type": "Practitioner"
                              }
                            ],
                            "custodian": {
                              "reference": "Organization/1.120182",
                              "type": "Organization"
                            },
                            "content": [
                              {
                                "attachment": {
                                  "contentType": "application/pdf",
                                  "url": "https://pod45-varema.s3.amazonaws.com/549/secure/users/g1708/17082675/notes/34751090/EMA_20260302T140021_0000_MRNMM0000000002_PMS120182PAT000000002_PID17082675_Visit_Final.pdf"
                                },
                                "format": {
                                  "system": "http://ihe.net/fhir/ValueSet/IHE.FormatCode.codesystem",
                                  "code": "urn:ihe:iti:xds:2017:mimeTypeSufficient",
                                  "display": "mimeType Sufficient"
                                }
                              }
                            ],
                            "context": {
                              "encounter": [
                                {
                                  "reference": "Encounter/1.120182.10.32976936",
                                  "type": "Encounter"
                                }
                              ],
                              "period": {
                                "start": "2026-03-02T14:00:21+00:00"
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              },
              "application/fhir+xml": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-XML-RESOURCE"
                }
              }
            }
          }
        }
      }
    },
    "/Encounter/{id}": {
      "get": {
        "tags": [
          "Encounter"
        ],
        "summary": "read-instance: Read Encounter instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The resource ID",
            "required": true,
            "style": "simple",
            "schema": {
              "minimum": 1,
              "type": "string"
            },
            "example": "123"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/fhir+json": {
                "schema": {
                  "$ref": "#/components/schemas/FHIR-JSON-RESOURCE"
                },
                "examples": {
                  "ambulatory-new-patient-visit": {
[...]
